.experience {
  background-color: #555555 !important;
  color: #fff !important;
  border-radius: 0 !important;
  padding: 2em 0;

  // h4 {
  //   // font-weight: 100;
  // }
}

.circle {
  max-width: 75px;
  margin-bottom: 1em !important;
  height: 75px;
  margin: auto;
  background-color: #246ab5;
  border-radius: 50px;
  text-align: center;
  // padding-top: 15px;

  svg {
    margin-top: 20px;
    color: #fff;
  }
}

.grid_item {
  margin-top: 2em !important;
  text-align: center;
}