.footer {
  padding: 3em 0;
  box-shadow: none !important;
  text-align: center;
  background-color: #fcfcfc !important;
}

.linkedin {
  color: #0e76a8;
}

.github {
  color: #333333;
}

.email {
  vertical-align: middle;
}